<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>79314296769-oja2kkim1sm3nj7uub56saubie12u5pi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.79314296769-oja2kkim1sm3nj7uub56saubie12u5pi</string>
	<key>API_KEY</key>
	<string>AIzaSyD-V7UwVFmfFXe_MSIs9t5lkGu1RQXpQwo</string>
	<key>GCM_SENDER_ID</key>
	<string>79314296769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.earth</string>
	<key>PROJECT_ID</key>
	<string>earth-34165</string>
	<key>STORAGE_BUCKET</key>
	<string>earth-34165.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79314296769:ios:071803d2a84d9268b99940</string>
</dict>
</plist>